<div class="flex justify-center">
  <div class="max-w-2xl">
    <h2 class="font-bold text-3xl mt-8 mb-4">
      {{translations.fundraising_page.title|translate}}
      <span
        class="align-top bg-green-100 text-green-800 text-xs font-medium ml-2 px-2.5 py-0.5 mb-0.5 rounded dark:bg-green-900 dark:text-green-300">
      {{translations.fundraising_page.status_badge|translate}}
    </span>
    </h2>

    <div class="flex">
      <img ngSrc="assets/drone-page/my_new-min.JPG" alt="" class="rounded" width="310" height="400"/>
      <img ngSrc="assets/drone-page/receivers-min.jpg" alt="" class="rounded" width="310" height="400"/>
    </div>
    <span class="text-sm text-gray-500 mt-2">{{translations.fundraising_page.media_subtitle|translate}}</span>
    <div class="mt-8 line-clamp-10" id="body-inner-text" [innerHTML]="translations.fundraising_page.body_description|translate|sanitizeHtml"></div>
    <div class="mt-4 font-bold underline hover:cursor-pointer" id="body-read-more" (click)="readMoreBody()">{{translations.fundraising_page.read_more|translate}}</div>
    <hr class="mt-8"/>
    <div>
      <h2 class="font-bold text-3xl mt-4">{{translations.fundraising_page.updates|translate}}</h2>
    </div>
    <hr class="mt-8"/>
    <div class="mb-12">
      <h2 class="font-bold text-3xl mt-4">{{translations.fundraising_page.comments|translate}}
        ({{($statement|async)?.length}})</h2>
      <p class=" text-gray-500 mt-2">{{translations.fundraising_page.comments_subheader|translate}}</p>
      <app-comments [statement]="$statement"></app-comments>
    </div>
  </div>
  <app-action-block class="mt-12" [statement]="$statement" [fundraising]="$fundraising"></app-action-block>
</div>
