<ul>
  <li *ngIf="$recent|async as recent">
    <app-top-list-item [item]="recent" [title]="translations.action_block.recent_donation|translate"></app-top-list-item>
  </li>
  <li *ngIf="$top|async as top">
    <app-top-list-item [item]="top" [title]="translations.action_block.top_donation|translate"></app-top-list-item>
  </li>
  <li *ngIf="$fist|async as first">
    <app-top-list-item [item]="first" [title]="translations.action_block.first_donation|translate"></app-top-list-item>
  </li>
</ul>
