<button class="rounded bg-yellow-400 text-blue-700 shadow text-xl px-3 py-2 w-full ease-linear transition-all duration-150" (click)="toggleModal()">Share</button>
<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
  <div class="relative w-auto my-6 mx-auto max-w-sm">
    <!--content-->
    <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
      <!--header-->
      <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
        <h3 class="text-3xl font-semibold">
          Share link
        </h3>
        <button class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="toggleModal()">
          <span class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
            ×
          </span>
        </button>
      </div>
      <!--body-->
      <div class="relative p-6 flex-auto">
        <div *ngIf="showEmail">
          <p class="my-4 text-slate-500 text-lg leading-relaxed">
            Put email to track your followers:
          </p>
          <div class="mb-4">
            <input [ngClass]="submitted && email.errors?'text-input-primary border-red-500':'text-input-primary'" [formControl]="email" id="email" type="email">
            <span *ngIf="submitted && email.errors?.['required']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{translations.form_contact_require_err|translate}}</span>
            <span *ngIf="submitted &&  email.errors?.['email']" class="text-red-500 text-xs mt-1 ml-1">{{translations.form_email_err|translate}}</span>
          </div>
        </div>
        <div class="mb-4 flex flex-col justify-start space-y-4">
          <input class="text-input-primary" #formInputText [formControl]="link" type="text">
          <button class="bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  [ngxClipboard]="formInputText"
                  (click)="highlight(formInputText)"
          >
            Copy link
          </button>
        </div>
      </div>
      <!--footer-->
      <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
        <button class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="toggleModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>
