<div class="items-center">
  <div class="w-full max-w-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div>
        <div class="mb-4">
          <label for="sum" class="block text-gray-700 text-sm font-bold sm-2">{{translations.sum | translate}}</label>
          <input class="text-input-primary" [formControl]="controls.sum" type="number" id="sum">
        </div>
        <div class="mb-4">
          <label for="wish" class="label-primary">{{translations.wish_you | translate}}</label>
          <input [formControl]="controls.wish" type="text" id="wish" class="text-input-primary" placeholder="{{translations.wish_you_placeholder | translate}}">
        </div>
        <div class="flex items-center justify-between">
          <div class="mb-4">
            <label class="label-primary" for="firstname">{{translations.yours | translate}}</label>
            <input class="text-input-primary" [formControl]="controls.firstname" id="firstname" type="text" placeholder="{{translations.yours_placeholder | translate}}">
          </div>
          <div class="mb-4">
            <label for="is_anonymous" class="block text-gray-500 font-bold">
              <input class="mr-2 leading-tight" [formControl]="controls.isAnonymous" type="checkbox" id="is_anonymous">
              <span class="text-sm">{{translations.anonymous | translate }}</span>
            </label>
          </div>
        </div>
        <div class="mb-4">
          <label class="label-primary" for="email">Email</label>
          <input class="text-input-primary" [formControl]="controls.email" id="email" type="email">
        </div>
        <div class="mb-4">
          <label for="no_communication" class="block text-gray-500 font-bold">
            <input [formControl]="controls.noCommunication" type="checkbox" id="no_communication">
            <span class="text-sm px-2">{{translations.no_communication | translate}}</span>
          </label>
        </div>
      </div>

      <div>
        <div>
          <label for="not_public_name" class="block text-gray-500 font-bold">
            <input [formControl]="controls.notPublicName" type="checkbox" id="not_public_name">
            <span class="text-sm px-2">{{translations.not_public_name | translate}}</span>
            <!--        <icon>?</icon>-->
          </label>
        </div>
        <div>
          <label for="subscription" class="block text-gray-500 font-bold">
            <input [formControl]="controls.subscription" type="checkbox" id="subscription">
            <span class="text-sm px-2">{{translations.subscription |  translate}}</span>
          </label>
        </div>
        <div>
          <label for="participation" class="block text-gray-500 font-bold">
            <input [formControl]="controls.participation" type="checkbox" id="participation">
            <span class="text-sm px-2">{{translations.participation | translate}}</span>
          </label>
        </div>
      </div>

      <div class="py-3">
        <span class="block py-3">{{translations.your_donation | translate}} {{controls.sum.value}}</span>
        <button type="submit" class="shadow bg-gray-900 text-white text-2xl rounded py-2 px-3">Mono Pay</button>
      </div>
    </form>
  </div>
</div>
