<div class="items-center px-4 md:px-8 py-2 md:py-4">
  <div class="w-full max-w-sm">
    <form [formGroup]="form" (ngSubmit)="onSubmit($event.submitter.id)" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div>
        <div class="mb-4">
          <label for="sum" class="block text-gray-700 text-sm font-bold sm-2 my-1">{{translations.sum | translate}}</label>
          <input [ngClass]="submitted && controls.sum.errors?'text-input-primary border-red-500':'text-input-primary'" [formControl]="controls.sum" type="number" id="sum">
          <span *ngIf="submitted && controls.sum.errors?.['required']" class="text-red-500 text-xs mt-1 ml-1">{{translations.form_sum_require_err|translate}}</span>
        </div>
        <div class="mb-4">
          <label for="wish" class="label-primary my-1">{{translations.wish_you | translate}}</label>
          <input [formControl]="controls.wish" type="text" id="wish" class="text-input-primary" placeholder="{{translations.wish_you_placeholder | translate}}">
        </div>
        <div class="">
          <div>
          <div class="mb-4">
            <label class="label-primary my-1" for="firstname">{{translations.yours | translate}}</label>
            <input [ngClass]="submitted && controls.firstname.errors?'text-input-primary border-red-500':'text-input-primary'" [formControl]="controls.firstname" id="firstname" type="text" placeholder="{{translations.yours_placeholder | translate}}">
            <span *ngIf="submitted && controls.firstname.errors?.['required']" class="text-red-500 text-xs mt-1 ml-1">{{translations.form_contact_require_err|translate}}</span>
          </div>
            <div class="mb-4">
              <label class="label-primary my-1" for="email">Email</label>
              <input [ngClass]="submitted && controls.email.errors?'text-input-primary border-red-500':'text-input-primary'" [formControl]="controls.email" id="email" type="email">
              <span *ngIf="submitted && controls.email.errors?.['required']" class="flex items-center font-medium tracking-wide text-red-500 text-xs mt-1 ml-1">{{translations.form_contact_require_err|translate}}</span>
              <span *ngIf="submitted && controls.email.errors?.['email']" class="text-red-500 text-xs mt-1 ml-1">{{translations.form_email_err|translate}}</span>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="mt-4">
          <label for="is_anonymous" class="text-gray-500 font-bold flex items-top">
            <input class="mr-2 leading-tight" [formControl]="controls.isAnonymous" type="checkbox" id="is_anonymous">
            <span class="text-sm">{{translations.anonymous | translate }}</span>
          </label>
        </div>
        <div class="mt-2">
          <label for="no_communication" class="block text-gray-500 font-bold">
            <input [formControl]="controls.noCommunication" type="checkbox" id="no_communication">
            <span class="text-sm px-2">{{translations.no_communication | translate}}</span>
          </label>
        </div>
        <div>
          <label for="not_public_name" class="block text-gray-500 font-bold">
            <input [formControl]="controls.notPublicName" type="checkbox" id="not_public_name">
            <span class="text-sm px-2">{{translations.not_public_name | translate}}</span>
            <!--        <icon>?</icon>-->
          </label>
        </div>
        <div>
          <label for="subscription" class="block text-gray-500 font-bold">
            <input [formControl]="controls.subscription" type="checkbox" id="subscription">
            <span class="text-sm px-2">{{translations.subscription |  translate}}</span>
          </label>
        </div>
        <div>
          <label for="participation" class="block text-gray-500 font-bold">
            <input [formControl]="controls.participation" type="checkbox" id="participation">
            <span class="text-sm px-2">{{translations.participation | translate}}</span>
          </label>
        </div>
      </div>

        <div class="py-3">
          <span class="block py-3">{{translations.your_donation | translate}} {{controls.sum.value|currency:'UAH':'₴':'1.0-0'}}</span>
          <div class="flex flex-col space-y-2">
          <button type="submit" id="mono-pay-button" class="shadow bg-gray-900 text-white text-sm font-medium rounded px-5 py-2.5 text-center">Mono Pay</button>
          <button type="submit" id="paypal-button" name="submit" class="text-gray-900 bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4 focus:ring-[#F7BE38]/50 font-medium rounded text-sm px-5 py-2.5 flex items-center justify-center dark:focus:ring-[#F7BE38]/50">
            <svg class="mr-2 -ml-1 w-4 h-4" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="paypal" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path fill="currentColor" d="M111.4 295.9c-3.5 19.2-17.4 108.7-21.5 134-.3 1.8-1 2.5-3 2.5H12.3c-7.6 0-13.1-6.6-12.1-13.9L58.8 46.6c1.5-9.6 10.1-16.9 20-16.9 152.3 0 165.1-3.7 204 11.4 60.1 23.3 65.6 79.5 44 140.3-21.5 62.6-72.5 89.5-140.1 90.3-43.4 .7-69.5-7-75.3 24.2zM357.1 152c-1.8-1.3-2.5-1.8-3 1.3-2 11.4-5.1 22.5-8.8 33.6-39.9 113.8-150.5 103.9-204.5 103.9-6.1 0-10.1 3.3-10.9 9.4-22.6 140.4-27.1 169.7-27.1 169.7-1 7.1 3.5 12.9 10.6 12.9h63.5c8.6 0 15.7-6.3 17.4-14.9 .7-5.4-1.1 6.1 14.4-91.3 4.6-22 14.3-19.7 29.3-19.7 71 0 126.4-28.8 142.9-112.3 6.5-34.8 4.6-71.4-23.8-92.6z"></path></svg>
            <span>Pay with PayPal</span>
          </button>
          </div>
        </div>
    </form>
    <app-paypal-button [submitted]="submittedPaypal$" [comment]="controls.wish" [amount]="controls.sum" [donationID]="donationID$"></app-paypal-button>
  </div>
</div>
